<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info', user: @book.user %>
      <%= render 'index', book: Book.new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
            <tr>
              <td>
                <%= image_tag @book.user.get_profile_image(100,100) %>
                <br>
                  <%= link_to user_path(@book.user)  do %>
                    <%= @book.user.name %>
                  <% end %>
                </br>
              </td>
              <td>
                <%= link_to book_path(@book) do %>
                  <%= @book.title %>
                <% end %>
              </td>
              <td>
                <%= @book.body %>
              </td>
              <% if @book.user == current_user %>
                <td>
                  <%= link_to 'Edit', edit_book_path(@book.id), class: 'btn btn-success btn-sm' %>
                </td>
                <td>
                  <%= link_to 'Destroy', book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-danger btn-sm' %>
                </td>
              <% end %>
            <tr/>
        </tbody>
      </table>
    </div>
  </div>
</div>