<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info', user: @book.user %>
      <%= render 'index', book: Book.new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
            <tr>
              <td>
                <%= image_tag @book.user.get_profile_image(100,100) %>
                <br>
                  <%= link_to user_path(@book.user)  do %>
                    <%= @book.user.name %>
                  <% end %>
                </br>
              </td>
              <td>
                <%= link_to book_path(@book) do %>
                  <%= @book.title %>
                <% end %>
              </td>
              <td>
                <%= @book.body %>
              </td>
              <td>
                <% if @book.favorited_by?(current_user) %>
                  <p>
                    <%= link_to book_favorites_path(@book), method: :delete, class: "text-danger" do %>
                      <i class="fa-solid fa-heart"></i>
                      <%= @book.favorites.count %>
                    <% end %>
                  </p>
                <% else %>
                  <p>
                    <%= link_to book_favorites_path(@book), method: :post do %>
                      <i class="fa-regular fa-heart"></i>
                      <%= @book.favorites.count %>
                    <% end %>
                  </p>
                <% end %>
              </td>
              <td>
                <p>コメント数:<%= @book.book_comments.count %></p>
              </td>
              <% if @book.user == current_user %>
                <td>
                  <%= link_to 'Edit', edit_book_path(@book.id), class: 'btn btn-success btn-sm' %>
                </td>
                <td>
                  <%= link_to 'Destroy', book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-danger btn-sm' %>
                </td>
              <% end %>
            <tr/>
            <% @book.book_comments.each do |book_comment| %>
              <tr>
                <td>
                  <%= link_to user_path(book_comment.user)  do %>
                      <%= image_tag book_comment.user.get_profile_image(100,100) %>
                    <% end %>
                  <%= book_comment.comment %>
                  <% if book_comment.user == current_user %>
                    <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class: " btn btn-danger" %>
                  <% end %>
                  <br>
                    <%= link_to user_path(book_comment.user)  do %>
                      <%= book_comment.user.name %>
                    <% end %>
                  </br>
                </td>
              </tr>
            <% end %>
              <tfoot>
                <tr>
                  <td>
                    <%= form_with model: [@book, @book_comment] do |f| %>
                      <%= f.text_area :comment, rows: '5' %>
                      <br><%= f.submit "送信" %></br>
                    <% end %>
                  </td>
                </tr>
              </tfoot>
        </tbody>
      </table>
    </div>
  </div>
</div>